<!DOCTYPE html>
<html lang="es">
<head>
<script src="../css/js/style.js"></script>
<link rel="stylesheet" href="../css/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Configuración de CSP</title>
</head>
<body>

<div class="sidebar">
    <h1><img src="../images/logo.png" alt="Logo">BAC</h1>
    <a class="menu-item" href="./configuration-csp.html">CSP</a>
    <a class="menu-item" href="./configuration-server.html">Servidor</a>
    <a class="menu-item" href="./configuration-printh.html">Impresión</a>
</div>

<div class="content">
    <div class="header" sty>
        <h2 style="margin: 10px;">Configuración de Impresión</h2>
        <span style="margin: 10px;"><strong>v1.0.0</strong></span>
    </div>
    
    <div class="config-box box-print">
        <label for="cliente-interop"><strong>Puerto del servidor</strong></label>
        <input type="text" id="cliente-interop">
        
        <label for="cliente-interop"><strong>Puerto de la ip</strong></label>
        <input type="text" id="cliente-interop">
        
        <label for="cliente-interop"><strong>Puerto de la aplicación</strong></label>
        <input type="text" id="cliente-interop">

        <div class="checkbox">
            <input type="checkbox" id="proccessInApp" name="proccessInApp">
            <label for="proccessInApp"><strong>Proceso en la aplicación</strong></label>
        </div>

        <div class="checkbox" style="margin-top: 10px; margin-bottom: 10px;">
            <input type="checkbox" id="checkShowProccesignWindows" name="checkShowProccesignWindows">
            <label for="checkShowProccesignWindows"><strong>Visualizar el proceso de la ventana</strong></label>
        </div>

        <button type="button">Guardar</button>
    </div>
</div>

</body>
</html>