<!DOCTYPE html>
<html lang="es">
<head>
<script src="../css/js/style.js"></script>
<link rel="stylesheet" href="../css/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Configuración de CSP</title>
</head>
<body>

<div class="sidebar">
    <h1><img src="../images/logo.png" alt="Logo">BAC</h1>
    <a class="menu-item" href="./configuration-csp.html">CSP</a>
    <a class="menu-item" href="./configuration-server.html">Servidor</a>
    <a class="menu-item" href="./configuration-printh.html">Impresión</a>
</div>

<div class="content">
    <div class="header" sty>
        <h2 style="margin: 10px;">Configuración del Servidor</h2>
        <span style="margin: 10px;"><strong>v1.0.0</strong></span>
    </div>
    
    <div class="config-box box-server" style="height: 230px;">
        <div class="checkbox-container">
            <input type="checkbox" id="checkGenerateVoucher" name="GenerateVoucher">
            <label for="GenerateVoucher">Generar Vaucher</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="checkAddClientCopy" name="checkAddClientCopy">
            <label for="checkAddClientCopy">Agregar copia de cliente</label>
        </div>
        <button>Guardar</button>
    </div>
</div>

</body>
</html>